// Custom styles.
.header { 
    background:url(/img/header.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff !important;
}
.header-inner {
    padding-bottom: 50px;
}

.menu a{
    color: #222222 !important;
}
brand .brand{
    padding-top: 10px;
    padding-right: 50px;
    padding-bottom: 10px;
    padding-left: 50px;
}
.menu .menu-item a{
    font-size: 15px;
}
.site-subtitle {
    margin-top: 20px;
    font-size: 16px;
    color: #fff;
}